@import url("assets/spectre-0.5.9/spectre.min.css");
@import url("assets/spectre-0.5.9/spectre-icons.min.css");

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: auto;
}

#root {
  height: 100vh;
}